{{ 'section-accordion.min.css' | asset_url | stylesheet_tag: preload: true }}
<noscript>{{ 'section-accordion.min.css' | asset_url | stylesheet_tag }}</noscript>

{%- comment -%}© 2024-05-27 Paul N faq metaobject code licensed to seraneeva.com{%- endcomment -%}
{%- comment -%}integrated version based on sections/accordion.liquid{%- endcomment -%}
{%- liquid #config variables
  assign faq_categories = shop.metaobjects.faq_category.values
  assign show_all_categories = false
  assign always_show_first_category = true
  # expand_all has style issues sincs hidden collapsibles have a bug that when they are hidden they will get improper heights
  assign show_expand_all_button = false
-%}

{%- liquid #DEBUG
  assign DEBUG = false
  if DEBUG
    assign faq_categories = shop.metaobjects.faq_category_test.values
    assign faq_item_key = 'faq_item_test'
  endif
-%}
{%- if DEBUG -%}
  <div>DEBUG
    {% for faq_category in faq_categories %}
      <h3>{{ faq_category.category_name }}</h3>
      {%- comment -%}{%- assign qa_sets = faq_category['questions_and_answers'].value %}{%- endcomment -%}
      {% for qa_set in faq_category['questions_and_answers'].value %}
        {% if forloop.first %}qa_set:<br>{% endif %}
        qa_set.question: {{qa_set.question}}<br>
        qa_set.answer: {{qa_set.answer | metafield_tag }}<br><br>
      {% endfor %}
    {% endfor %}
  <div>
  <hr>
{%- endif -%}

<section
  class="wrapper-spacing--v wrapper-spacing--h color-scheme--{{ section.settings.colors }}"
  data-wetheme-section-type="accordion--faq"
  data-wetheme-section-id="{{ section.id }}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px;"
>
  <style type="text/css">
    #faq_select {
      appearance: revert;
      webkit-appearance: revert;
      -moz-appearance: revert;
      display: block;
      margin: 0 auto;
      /*text-align: center;*/
      margin-bottom: 25px;
    }
    input.faq_toggle , label.faq_toggle_label {
      display: none !important;
    }
    .faq_toggle:not(:checked) + div { display: none; }
    .faq_toggle:checked + div { display: block; }
    {%- comment -%}
      /* Styles to use with url hash anchors i.e. the '#shipping' in https://seraneeva.com/pages/faq#shipping */
      /*div#hash:target { display: block; }*/
      /*div:target { display: block; }*/
      /*{% for faq_category in faq_categories %}
        body.js #{{faq_category.category_name | handleize }}:target {% unless forloop.last %},{% endunless %}
      {% endfor %} { display: block; }*/
    {%- endcomment -%}

    @media (max-width: 767px) {
      html {
        scroll-padding-top: var(--sticky-header-mobile-height);
        /*scroll-margin-top: var(--sticky-header-mobile-height);*/
      }
      :target {
        scroll-padding-top: var(--sticky-header-mobile-height);
        /*scroll-margin-top: var(--sticky-header-mobile-height);*/
        scroll-snap-margin-top:: var(--sticky-header-mobile-height); /* iOS 11 and older? */
      }
    }
    @media (min-width: 768px) {
      html {
        scroll-padding-top: var(--sticky-header-desktop-height);
        /*scroll-margin-top: var(--sticky-header-desktop-height);*/
      }
      :target {
        scroll-padding-top: var(--sticky-header-desktop-height);
        /*scroll-margin-top: var(--sticky-header-desktop-height);*/
        scroll-snap-margin-top:: var(--sticky-header-desktop-height); /* iOS 11 and older? */
      }
    }
  </style>

  {%- comment -%}
    {% for faq_category in faq_categories %}
      <a href="#{{faq_category.category_name | handleize }}">{{ faq_category.category_name | handleize }}</a><br>
    {% endfor %}
  {%- endcomment -%}

  <select id="faq_select" class="{%- comment -%}input-full{%- endcomment -%}" {%- comment -%}onchange="select_faq_category();"{%- endcomment -%}>
    {% for faq_category in faq_categories %}
      {%- unless always_show_first_category -%}<option value="">Please Select a Category</option>{%- endunless -%}
      <option value="{{faq_category.category_name | handleize }}" {%- if forloop.first and always_show_first_category %} selected {% endif -%}>{{ faq_category.category_name }}</option>
    {% endfor %}
  </select>
  {%- comment -%}<hr>{%- endcomment -%}
  {% for faq_category in faq_categories %}
    <label for="{{ faq_category.category_name | handleize }}" class="faq_toggle_label">Show {{ faq_category.category_name | handleize }}</label>
    <input type="checkbox"
      id="{{ faq_category.category_name | handleize }}"
      class="faq_toggle"
      {%- if show_all_categories %} checked {%- elsif forloop.first and always_show_first_category -%} checked {% endif -%}
    >
    <div id="faq_{{ faq_category.category_name | handleize }}">
      {%- comment -%}{%- unless forloop.first -%}<hr style="--padding-section-top: {{ section.settings.section_padding_top }}px;">{%- endunless -%}{%- endcomment -%}
      {% comment %} Section title and description {% endcomment %}
      {% render 'dynamic-section-header' with section_title: faq_category.category_name %}
      <div class="width--narrow">

        {%- if show_expand_all_button -%}
          <button onclick="this.innerText =  this.innerText == 'Expand All' ? 'Collapse All' : 'Expand All'; document.querySelectorAll('collapsible-button').forEach( e => e.toggle() );"
            {%- comment -%}onclick="faqToggleAllHandler(this)"{%- endcomment -%}
            style="all: unset; cursor: pointer; margin: 0 auto 0 90%; display: block;"
            {%- comment %} data-innertext-expand-="Expand All" data-innertext-collapse="Collapse All" {% endcomment -%}
          >Expand All</button>
          <script type="text/javascript">
            function faqToggleAllHandler(button){
              debugger
              button.innerText =  button.innerText == 'Expand All' ? 'Collapse All' : 'Expand All';
              document.querySelectorAll('collapsible-button').forEach( e => e.toggle() );
            }
          </script>
        {%- endif -%}

        {% assign faq_items = faq_category.questions_and_answers.value %}
        {%- if DEBUG -%}
          <div>faq_items json: <code> {{ faq_items | json }}</code></div>
          <div>faq_items json: <code> {{ faq_items | json }}</code></div>
        {%- endif -%}
        {% for faq_item in faq_items %}
          {%- if DEBUG -%}
            <div>faq_item #{{ forloop.index0 -}}, </div>
            <div>faq_item.answer: {{ faq_item.answer }}</div>
            <div>faq_item.question: {{ faq_item.question }}</div>
            <div>faq_item.answer: {{ faq_item.answer }}</div>
            <div>faq_item.answer.value: {{ faq_item.answer.value }}</div>
            <div>faq_item.answer metafield_tag : {{ faq_item.answer | metafield_tag  }}</div>
            <br>
            <div>faq_item.answer_singleline: {{ faq_item.answer_singleline }}</div>
            <div>faq_item.answer_multiline: {{ faq_item.answer_multiline }}</div>
            <div>faq_item json:<code>{{ faq_item | json }}</code></div>
            <div>faq_item.question json: <code>{{ faq_item.question | json }}</code></div>
          {%- endif -%}
          {%- comment -%}
            {% if faq_item.category.value.category_name == faq_category.category_name and show_item == true %}
              {{ faq_item.system.id }} {{ faq_item.question }} {{ faq_item.answer }}
            {% endif %}
          {%- endcomment -%}
          {% unless faq_item.question == blank or faq_item.answer == blank %}
            <div class="accordion-content" >
              {%- assign faq_item_content = faq_item.answer | metafield_tag  -%}
              {% render 'collapsible-tab', icon: 'none', custom_icon: false, heading: faq_item.question, content: faq_item_content, open_close_icon: section.settings.faq_icon, open_by_default: false %}
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  <script type="text/javascript">
    function select_faq_category(event) {
      debugger
      var faq_select = document.getElementById('faq_select');
      var selected_faq = document.getElementById(faq_select.selectedOptions[0].value);
      /* query could possibly be improved by checking for all NOT checked elements then doing selected_faq seperately */
      document.querySelectorAll('.faq_toggle').forEach( element => {
        debugger
        element.checked = (element == selected_faq);
      });
    }
    const selectDropdown = document.querySelector('select');
    selectDropdown.addEventListener('change', select_faq_category);
  </script>

  {%- comment -%} javascript stubs to use with url hash anchors i.e. the '#shipping' in https://seraneeva.com/pages/faq#shipping */ 
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function(){
        if (window.location.hash) {
          debugger
          document.querySelectorAll('.faq_toggle').forEach( element => element.checked = false);
          var faq_selector = window.location.hash.replace('#','');
          /*var faq_selector = '#faq_toggle_'+window.location.hash;*/
          document.getElementById(faq_selector).checked = true;
          //document.querySelector(faq_selector).click();
        };
      });

      window.addEventListener("hashchange",
        () => {
          var faq_selector = window.location.hash.replace('#','');
          debugger
          /*var faq_selector = '#faq_toggle_'+window.location.hash;*/
          /*var selected_faq = document.getElementById(faq_selector).checked = true;*/
          var selected_faq = document.getElementById(faq_selector);
          /* query could possibly be improved by checking for all NOT checked elements then doing selected_faq seperately */
          document.querySelectorAll('.faq_toggle').forEach( element => {
            /*element.checked = (element != selected_faq);*/
            element.checked = (element == selected_faq);
          });
        },
        false,
      );
    </script>
  {%- endcomment -%}
  {%- comment -%}<hr style="border:none !important;">{%- endcomment -%}

  {% comment %} Section title and description {% endcomment %}
  {% comment %}
  {% render 'dynamic-section-header' with section_title: section.settings.title, section_description: section.settings.description %}
  <div class="width--narrow">
    {% for block in section.blocks %}
      {% unless block.settings.text == blank and block.settings.question == blank %}
        <div class="accordion-content" {{ block.shopify_attributes }}>
          {% render 'collapsible-tab', icon: 'none', custom_icon: false, heading: block.settings.question, content: block.settings.text, open_close_icon: section.settings.faq_icon, open_by_default: false %}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
  {% endcomment %}
</section>

{% schema %}
{
  "name": "Accordion/FAQ Metaobjects",
  "class": "accordion-faq",
  "limit": 1,
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:all.Heading",
      "default": "Frequently asked questions"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:all.Description"
    },
    {
      "type": "radio",
      "id": "faq_icon",
      "label": "t:all.Icon_style",
      "options": [
        {
          "value": "plus_minus",
          "label": "t:all.Plus_minus"
        },
        {
          "value": "caret",
          "label": "t:all.Caret"
        }
      ],
      "default": "plus_minus"
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "t:all.Minimal"
        },
        {
          "value": "light",
          "label": "t:all.Light"
        },
        {
          "value": "accent",
          "label": "t:all.Feature"
        },
        {
          "value": "dark",
          "label": "t:all.Dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "tab_content",
      "name": "t:sections.accordion.blocks.tab_content.name",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "t:all.Heading",
          "default": "Place your question or heading here"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:all.Text",
          "default": "<p>Here you can place an explanation or answer to the question.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion/FAQ Metaobjects",
      "blocks": [
        {
          "type": "tab_content"
        },
        {
          "type": "tab_content"
        },
        {
          "type": "tab_content"
        }
      ]
    }
  ]
}
{% endschema %}