{% assign footer_item_width = '' %}
{% case section.blocks.size %}
{% when 1 %}
	{% assign footer_item_width = 'large--one-whole medium--one-whole small--one-whole' %}
{% when 2 %}
	{% assign footer_item_width = 'large--one-half medium--one-half small--one-whole' %}
{% when 3 %}
	{% assign footer_item_width = 'large--one-third medium--one-half small--one-whole' %}
{% when 4 %}
	{% assign footer_item_width = 'large--one-quarter medium--one-half small--one-whole' %}
{% endcase %}

<style>
  .input-group {
    position: relative;
  }

  .footer-main .hidden-label {
    overflow: initial !important;
    clip: unset !important;
    font-family: Cooper BT, serif;
    font-size: 13px;
    opacity: .91;
  }
  
  .input-group:has(input:placeholder-shown) > label
  {
    top: 0;
    left: 0;
    transform: translateY(10px);
    margin-bottom: 0;
    transition: all .8s cubic-bezier(.5,0,0,1);
    color: gray !important;
  }
  
 .input-group input::placeholder {
   color: transparent !important; 
 }
  
 .input-group:has(input:focus) > label,
 .input-group:has(input[type="email"]:not(:placeholder-shown)) > label
 {
   transform: translateY(1px) scale(.6428571429);
   color: #ffff !important;
 }
  /* .input-group input {
    padding-top: 16px !important;
  } */

  .footer-email-input, .newsletter-footer input.footer-email-input {
    background: transparent !important;
  }
  .custom-error-message {
    color: rgb(236, 113, 107);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
</style>
<footer
  class="footer-main color-scheme--{{ section.settings.color_scheme }} site-footer{% if template contains 'product' %}{% if settings.related_products_enable %}{% else %} product-sticker-stop{% endif %}{% endif %} footer-alignment--{{ section.settings.alignment }}"
  data-wetheme-section-type="footer-main" data-wetheme-section-id="{{ section.id }}"
>
	<div class="wrapper-padded">
		<div class="grid">
      {%- comment -%}2024-05-20 Paul N add collapsible behavior to footer menus using details element{%- endcomment -%}
      {% style %}
        @media only screen and (min-width: 768px) {
          html.js details > summary { cursor: default; pointer-events: none; }
          html.js details > summary > div::after {
            content: "";
          }
        }
        @media only screen and (max-width: 767px) {
        }

          {%- comment -%}details > summary.footer-summary { display:list-item; list-style: revert; }{%- endcomment -%}
          {%- comment -%}details > summary.footer-summary { list-style-type: '⌃'; }{%- endcomment -%}
          {%- comment -%}details[open] > summary.footer-summary { list-style-type: '⌄'; }{%- endcomment -%}

          details > summary.footer-summary::marker { font-size: var(--h3-size); }

          details > summary > div {
            position: relative;
            white-space: nowrap;
            font-size: larger;
          }

          {%- comment -%}see list of ascii and unicode characters https://stackoverflow.com/questions/2701192/what-characters-can-be-used-for-up-down-triangle-arrow-without-stem-for-displa {%- endcomment -%}
          {%- comment -%}U+2303  ⌃   UP ARROWHEAD{%- endcomment -%}
          {%- comment -%}U+2304  ⌄   DOWN ARROWHEAD{%- endcomment -%}
          details > summary > div::after {
            content: "⌄";
            /* position: absolute; */
            /* top: -30%; */
            top: 0%;
            transform: translateY(50%);
            margin-left: 10px;
            font-weight: bolder;
            {%- comment -%}line-height: calc(1.7 * var(--h3-size));{%- endcomment -%}
            vertical-align: super;
          }

          details[open] > summary > div::after {
            content: "⌃";
            top: 25%;
            transform: translateY(50%);
            {%- comment -%}line-height: calc(0.5 * var(--h3-size));{%- endcomment -%}
            vertical-align: middle;
          }

          summary {
            list-style: none;
          }

          summary::-webkit-details-marker {
            display: none;
          }
          {%- comment -%}details[open] > summary.footer-summary::marker { color: red; }{%- endcomment -%}

        {%- comment -%} alternative approach

          details > summary.footer-summary { display: revert; list-style-type: '⌃'; }
          details[open] > summary.footer-summary { list-style-type: '⌄'; }

          details > summary.footer-summary {
            direction: rtl;
            text-align: left;
          }
          .details > summary.footer-summary >div {
            display: inline-block;
            direction: ltr;
          }
        {%- endcomment -%}
      {% endstyle %}
      <script type="text/javascript">
        var footerDetails;

        window.addEventListener('DOMContentLoaded', function() {
          if(!footerDetails) { footerDetails = document.querySelectorAll('footer details'); }
          toggleDetails(); }
        );
        window.addEventListener("resize", function() { toggleDetails(); });

        function toggleDetails() {
          if(window.matchMedia('(max-width: 767px)').matches){
            /*debugger;*/
            footerDetails.forEach( el => el.removeAttribute('open') );
          }
          if(window.matchMedia('(min-width: 768px)').matches){
            footerDetails.forEach( el => el.setAttribute('open','') );
          }
        }
      </script>

			{% for block in section.blocks %}

				{% case block.type %}

				{% when 'social' %}

                    <div class="grid__item {{ footer_item_width }} social-media-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.social_title == "" %}
                            <div class="h3 footer-header">{{ block.settings.social_title | escape }}</div>
                        {% endunless %}
                        {% render 'social-icons' %}
                    </div>

			    {% when 'menu' %}



                    {% assign menu = linklists[block.settings.footer_linklist] %}
                    <div class="grid__item {{ footer_item_width }} links-footer" {{ block.shopify_attributes }}>
                      {%- comment -%}2024-05-20 Paul N add collapsible behavior to footer menus using details element{%- endcomment -%}
                      <details>
                        {% unless block.settings.menu_title == "" %}
                            <summary class="footer-summary"><div class="h3 footer-header">{{ block.settings.menu_title | escape }}</div></summary>
                        {% endunless %}
                        {% if menu.links.size > 0 %}
                            <ul class="footer-content nav-link-animated">
                                {% for link in menu.links %}
                                    {% if link.links != blank %}
                                        <li>
                                            <a href="{{ link.url }}" class="footer--has-dropdown-title"><span class="animated-underline">{{ link.title }}</span></a>
                                            <ul class="footer--level-2">
                                                {% for sub_link in link.links %}
                                                        <li><a href="{{ sub_link.url }}"><span class="animated-underline">{{ sub_link.title | escape }}</span></a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ link.url }}"><span class="animated-underline">{{ link.title }}</span></a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                      </details>
                    </div>

				{% when 'text' %}

                    <div class="grid__item {{ footer_item_width }} content-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.title == "" %}
                            <div class="h3 footer-header">{{ block.settings.title | escape }}</div>
                        {% endunless %}
                        {% unless block.settings.title == "" %}
                            <div class="rte footer-article text-link-animated">{{ block.settings.richtext }}</div>
                        {% endunless %}
                    </div>

                {% when 'follow_on_shop' %}

                    <div class="grid__item {{ footer_item_width }} content-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.title == "" %}
                            <div class="h3 footer-header">{{ block.settings.title | escape }}</div>
                        {% endunless %}
                        {% if shop.features.follow_on_shop? %}
                            {{ shop | login_button: action: 'follow' }}
                        {% endif %}
                    </div>

				{% when 'image' %}

					<div class="grid__item {{ footer_item_width }} image-footer" {{ block.shopify_attributes }}>
                    {% if block.settings.image != blank %}
				      {%- assign img_url = block.settings.image | image_url: width: 600 -%}
                        {% if block.settings.image.alt != empty %}
                            {% capture footer_alt %}{{ block.settings.image.alt }}{% endcapture %}
                        {% else %}
                            {% if block.settings.title != empty %}
                                {% capture footer_alt %}{{ block.settings.title }}{% endcapture %}
                            {% else %}
                                {% capture footer_alt %}{{ shop.name }}{% endcapture %}
                            {% endif %}
                        {% endif %}
				    {% else %}
				      {%- assign img_url = '' -%}
				    {% endif %}
				    {% if block.settings.link != blank and img_url != blank %}
				      <a href="{{ block.settings.link }}">
				    {% elsif img_url != blank %}
				      <div class="image-bar__item">
				    {% else %}
				      <div class="image-bar__item">
				    {% endif %}
				    <div class="image-bar__content">
				      {% if img_url == blank %}
				          {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
				      {% else %}
						{% render 'responsive-image' with block.settings.image, alt: footer_alt | escape %}
				      {% endif %}
				    </div>
				    {% if block.settings.link != blank and img_url != blank %}
				      </a>
				    {% else %}
				      </div>
				    {% endif %}

				    {% unless block.settings.title == "" %}
				      <h3 class="image-bar--title">{{ block.settings.title }}</h3>
                    {% endunless %}
					</div>

				{% when 'newsletter' %}

					<div class="grid__item {{ footer_item_width }} newsletter-footer" {{ block.shopify_attributes }}>
						{% unless block.settings.newsletter_title == "" %}
							<div class="h3 footer-header">{{ block.settings.newsletter_title | escape }}</div>
                        {% endunless %}
						{% if block.settings.footer_newsletter_description != empty %}
                            <div class="rte footer-article text-link-animated">{{ block.settings.footer_newsletter_description }}</div>
						{% endif %}
						{% form 'customer', id: 'newsletter-footer_form' %}
							{% if form.posted_successfully? %}
								<p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
							{% else %}
								<div class="input-group">
                                    <label for="Email"  class="hidden-label">Email</label>
                                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field footer-email-input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" >
                                    <input type="hidden" name="contact[tags]" value="newsletter">
                                    <span>
                                        <button type="submit" class="btn footer-email-submit" name="subscribe" id="subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
                                    </span>
								</div>
							{% endif %}
						{% endform %}
					</div>
			{% endcase %}
            {% endfor %}

        </div>
    </div>
  <script>
    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  
    function setError(message, elm) {
      if (message) {
        elm.insertAdjacentHTML("afterend", `<span class="error-message">${message}</span>`);
        return false;
      }
      return true;
    }
  
    document.addEventListener("DOMContentLoaded", (event) => {
      let emailInput = document.getElementById('Email');
      let form = document.querySelector("#newsletter-footer_form");
      let btnSubmit = document.querySelector("#newsletter-footer_form #subscribe");
  
      function validateEmail() {
        let emailVal = emailInput.value;
        let isError = emailVal ? (emailPattern.test(emailVal) ? '' : 'Please enter a valid email address.') : 'Email is required.';
        
        let existingError = document.querySelector(".custom-error-message");
        if (existingError) {
          existingError.remove();
        }
  
        if (isError) {
          form.insertAdjacentHTML("afterend", `<span class="custom-error-message">${isError}</span>`);
          return false;
        }
        return true;
      }
  
      emailInput.addEventListener("input", validateEmail);
  
      form.addEventListener("submit", (e) => {
        if (!validateEmail()) {
          e.preventDefault();
        }
      });
  
      btnSubmit.addEventListener("click", (e) => {
        if (!validateEmail()) {
          e.preventDefault();
        }
      });
    });
  </script>

</footer>

{% schema %}
{
  "name": "t:sections.footer-main.name",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.footer-main.settings.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "center",
          "label": "t:all.Center"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:all.Color_scheme",
      "default": "accent",
      "options": [
        {
          "value": "white",
          "label": "t:all.Minimal"
        },
        {
          "value": "light",
          "label": "t:all.Light"
        },
        {
          "value": "accent",
          "label": "t:all.Feature"
        },
        {
          "value": "dark",
          "label": "t:all.Dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:all.Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:all.Heading",
          "default": "Text details"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "t:all.Text",
          "default": "<p>Create a captivating brand story, explain details of your products or highlight store promotions</p>"
        }
      ]
    },
    {
      "type": "menu",
      "name": "t:all.Navigation",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "t:all.Heading",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "t:sections.footer-main.blocks.menu.settings.footer_linklist.label",
          "default": "footer",
          "info": "t:sections.footer-main.blocks.menu.settings.footer_linklist.info"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:all.Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "t:all.Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "footer_newsletter_description",
          "label": "t:sections.footer-main.blocks.newsletter.settings.footer_newsletter_description.label"
        }
      ]
    },
    {
      "type": "social",
      "name": "t:sections.footer-main.blocks.social.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "social_title",
          "label": "t:all.Heading",
          "default": "Get connected"
        },
        {
          "type": "paragraph",
          "content": "t:sections.footer-main.blocks.social.settings.paragraph-1.content"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:all.Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:all.Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:all.Link",
          "info": "t:all.Optional"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:all.Title",
          "info": "t:all.Optional"
        }
      ]
    },
    {
      "type": "follow_on_shop",
      "name": "t:sections.footer-main.blocks.follow_on_shop.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer-main.blocks.follow_on_shop.settings.paragraph-0.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:all.Heading",
          "default": "Follow us on the Shop app"
        }
      ]
    }
  ]
}
{% endschema %}
