<div class="product-section-new" data-wetheme-section-type="template--product"
  data-wetheme-section-id="{{ section.id }}">
  <div class="product-single-wrapper width--content">
    <div class="product-swiper-wrapper">
      {% if product.images.size == 1 %}
      <div class="single-img-wrapper">
        <img src="{{ product.media[0].preview_image | image_url: width: 1445 }}"
          alt="{% if product.media[0].alt %}{{ product.media[0].alt }}{% else %}{{ product.title }}{% endif %}"
          class="feature-img">
      </div>
      {% elsif product.media.size > 1 %}
      <div class="product-swiper">
        <div class="swiper-wrapper">
          {% for media in product.media %}
          <div class="swiper-slide">
            <img class="product-img" src="{{ media.preview_image | image_url: width: 1445 }}"
              alt="{% if media.alt %}{{ media.alt }}{% else %}{{ product.title }}{% endif %}" width="{{ media.width }}"
              height="{{ media.height }}" sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), 
                             (min-width: 750px) calc((100vw - 11.5rem) / 2), 
                             calc(100vw - 4rem)" loading="lazy">
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-prev override"></div>
        <div class="swiper-button-next override"></div>
        <div class="swiper-pagination1"></div>
        <div class="swiper-btn-contact">
          <a href="/pages/contact-us">Contact Us</a>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="product-details">
      <div class="details-wrapper">
        <h4 class="product-title">{{ product.title }}</h4>
        <p class="product-price">
          <span>{{ product.price | money }}</span>
        </p>
        <div class="add-to-cart">
          {% render 'payment-buttons' with product: product, block: block, product_form_id: product_form_id, section_id:
          section.id, show_buy_now: block.settings.show_smart_checkout, gift_card_form_enabled:
          block.settings.enable_gift_card_recipient_form %}
        </div>

      </div>
    </div>

  </div>

</div>
<style>
  .swiper-btn-contact {
    position: absolute;
    right: 26px;
    bottom: 60px;
    z-index: 999;
    text-decoration: underline;
    font-size: 12px;
  }

  .single-img-wrapper {
    width: 100%;
    height: 95vh;
  }

  .single-img-wrapper img.feature-img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
  }

  .swiper-button-next.override {
    color: rgb(70, 70, 70);
  }

  .swiper-button-prev.override {
    color: rgb(106, 101, 101);
  }

  .product-section-new .product-swiper-wrapper {
    position: relative
  }

  .product-section-new .product-swiper {
    width: 100%;
    height: 95vh;
  }

  .product-section-new .product-details {
    position: absolute;
    z-index: 999;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fafbfcad;
    transition: background 1s;
    padding: 35px;
    width: 24rem;
    padding: 56px 10px 35px 10px;
    height: 15rem;

  }

  .product-section-new .product-details:hover {
    transition: background 1s;
    background: #fafbfcf5;
  }

  .product-section-new .details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: center;
  }

  .add-to-cart {
    background-color: black;
    color: white;
    width: 20rem;
    transition: scale 1s;
    scale: 1;
  }

  .add-to-cart:hover {
    transition: scale 1s;
    scale: 0.97;
  }

  .product-section-new .product-title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .product-section-new .product-price {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
  }

  img.product-img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }

  img.feature-img {
    width: 100%;
    height: 100vh;
  }

  .product-section-new .swiper-pagination1.swiper-pagination-fraction.swiper-pagination-horizontal {
    padding: 18px;
    width: 6%;
    translate: 10px -42px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    text-align: left;
    font-size: 12px;
    color: black;
  }

  @media screen and (max-width:768px) {
    .product-section-new .product-details {
      position: absolute;
      z-index: 999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fafbfcad;
      padding: 35px 35px;
      width: 100%;

    }

    .product-section-new .product-swiper {
      width: 100%;
      height: 75vh;
    }

    img.product-img {
      width: 100%;
      height: 75vh;
      object-fit: fill;
    }

    .product-section-new .product-details {
      position: relative;
      z-index: 1;
      top: 0%;
      left: 0%;
      transform: translate(0%, 0%);
      background: #e7e7e7;
      padding: 35px 35px;
    }

    .product-section-new .swiper-pagination1.swiper-pagination-fraction.swiper-pagination-horizontal {
      padding: 18px;
      width: 100%;
      translate: 10px 12px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 999;
      text-align: center;
      color: black;
    }
  }
</style>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>
<script>
  var categorySwiper = new Swiper('.product-swiper', {
    slidesPerView: 2,
    spaceBetween: 0,
    freeMode: true,
    centeredSlides: false,
    autoplay: {
      delay: 20000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination1",
      type: "fraction",
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
      // when window width is >= 480px
      640: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
      // when window width is >= 640px
      768: {
        slidesPerView: 2,
        spaceBetween: 0,
      },
    },
  });
</script>
{% schema %}
{
"name": "t:sections.template--product.name",
"settings": [
{
"type": "checkbox",
"id": "enable_sticky",
"label": "t:sections.template--product.settings.enable_sticky.label",
"default": false
},
{
"type": "header",
"content": "t:all.Media"
},
{
"type": "paragraph",
"content": "t:all.Learn_more_about_media_typeshttps___help_shopify_com_en_manual_products_product_media"
},
{
"type": "select",
"id": "image_size",
"label": "t:all.Size",
"info": "t:sections.template--product.settings.image_size.info",
"options": [
{
"value": "small",
"label": "t:all.Small"
},
{
"value": "medium",
"label": "t:all.Medium"
},
{
"value": "large",
"label": "t:all.Large"
}
],
"default": "medium"
},
{
"type": "radio",
"id": "image-display",
"label": "t:sections.template--product.settings.image-display.label",
"options": [
{
"value": "full-size",
"label": "t:sections.template--product.settings.image-display.options.full_size"
},
{
"value": "thumbnails",
"label": "t:sections.template--product.settings.image-display.options.thumbnails"
}
],
"default": "thumbnails"
},
{
"type": "select",
"id": "thumbnail_position",
"label": "t:sections.template--product.settings.thumbnail_position.label",
"options": [
{
"value": "below",
"label": "t:sections.template--product.settings.thumbnail_position.options.below"
},
{
"value": "left",
"label": "t:sections.template--product.settings.thumbnail_position.options.left"
},
{
"value": "right",
"label": "t:sections.template--product.settings.thumbnail_position.options.right"
}
],
"default": "below"
},
{
"type": "checkbox",
"id": "enable_video_loop",
"label": "t:all.Enable_video_looping",
"default": false
},
{
"type": "header",
"content": "t:sections.template--product.settings.header-8.content"
},
{
"type": "range",
"id": "app_margin_bottom",
"label": "t:all.Bottom_margin",
"info": "t:sections.template--product.settings.app_margin_bottom.info",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
],
"blocks": [
{
"type": "@app"
},
{
"type": "title",
"name": "t:all.Title",
"limit": 1,
"settings": [
{
"type": "select",
"id": "title_font",
"label": "t:all.Size",
"options": [
{
"value": "h3",
"label": "t:all.Small"
},
{
"value": "h2",
"label": "t:all.Medium"
},
{
"value": "h1",
"label": "t:all.Large"
}
],
"default": "h2"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "price",
"name": "t:all.Price",
"limit": 1,
"settings": [
{
"type": "select",
"id": "price_font",
"label": "t:all.Size",
"options": [
{
"value": "h3",
"label": "t:all.Small"
},
{
"value": "h2",
"label": "t:all.Medium"
},
{
"value": "h1",
"label": "t:all.Large"
}
],
"default": "h2"
},
{
"type": "checkbox",
"id": "shipping_policy",
"label": "t:sections.template--product.blocks.price.settings.shipping_policy.label",
"default": true
},
{
"type": "checkbox",
"id": "tax_included",
"label": "t:sections.template--product.blocks.price.settings.tax_included.label",
"default": true
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "vendor",
"name": "t:sections.template--product.blocks.vendor.name",
"limit": 1,
"settings": [
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "options",
"name": "t:sections.template--product.blocks.options.name",
"limit": 1,
"settings": [
{
"type": "checkbox",
"id": "hide_out_of_stock_variants",
"label": "t:all.Hide_out_of_stock_variants",
"default": false
},
{
"type": "radio",
"id": "variant_style",
"label": "t:all.Variant_style",
"options": [
{
"value": "dropdowns",
"label": "t:all.Dropdowns"
},
{
"value": "swatches",
"label": "t:all.Swatches"
}
],
"default": "swatches",
"info":
"t:all.You_may_need_to_upload_custom_swatch_images__Learn_morehttps___support_eightthemes_com_hc_en_us_articles_360020105257_How_to_Upload_Color_Swatches"
},
{
"type": "checkbox",
"id": "thumbnail_changes_variant",
"label": "t:sections.template--product.blocks.options.settings.thumbnail_changes_variant.label",
"default": true
},
{
"type": "header",
"content": "t:sections.template--product.blocks.options.settings.header-3.content"
},
{
"type": "page",
"id": "size_guide_page",
"label": "t:sections.template--product.blocks.options.settings.size_guide_page.label"
},
{
"type": "text",
"id": "size_option_name",
"label": "t:sections.template--product.blocks.options.settings.size_option_name.label",
"default": "Size"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"name": "t:sections.template--product.blocks.linked-products.name",
"type": "linked-products",
"settings": [
{
"type": "text",
"id": "option_name",
"label": "t:all.Label",
"default": "Color"
},
{
"type": "select",
"id": "swatches_size",
"label": "t:sections.template--product.blocks.linked-products.settings.swatches_size.label",
"options": [
{
"value": "small",
"label": "t:all.Small"
},
{
"value": "medium",
"label": "t:all.Medium"
},
{
"value": "large",
"label": "t:all.Large"
}
],
"default": "small"
},
{
"type": "select",
"id": "swatches_aspect_ratio",
"label": "t:all.Grid_image_size",
"default": "square",
"options": [
{
"value": "square",
"label": "t:all.Square_1_1"
},
{
"value": "tall",
"label": "t:all.Tall_2_3"
},
{
"value": "wide",
"label": "t:all.Wide_4_3"
},
{
"value": "original",
"label": "t:all.Original"
}
]
},
{
"type": "header",
"content": "t:all.Products"
},
{
"type": "paragraph",
"content": "t:sections.template--product.blocks.linked-products.settings.paragraph-4.content"
},
{
"type": "product_list",
"id": "linked_products",
"label": "t:all.Products"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "product-description",
"name": "t:sections.template--product.blocks.product-description.name",
"limit": 1,
"settings": [
{
"type": "checkbox",
"id": "collapsible_tab",
"label": "t:all.Enable_collapsible_tab",
"default": true
},
{
"type": "header",
"content": "t:all.Collapsible_tab"
},
{
"type": "paragraph",
"content": "t:sections.template--product.blocks.product-description.settings.paragraph-2.content"
},
{
"type": "select",
"id": "icon",
"label": "t:all.Icon",
"default": "heart",
"options": [
{
"value": "none",
"label": "t:all.None"
},
{
"value": "home-smile",
"label": "t:all.Home_with_smile"
},
{
"value": "store",
"label": "t:all.Store"
},
{
"value": "flag",
"label": "t:all.Flag"
},
{
"value": "service",
"label": "t:all.Customer_service"
},
{
"value": "chat",
"label": "t:all.Chat_bubble"
},
{
"value": "chat-smile",
"label": "t:all.Chat_bubble_with_smile"
},
{
"value": "question-answer",
"label": "t:all.Question_and_answer"
},
{
"value": "wallet",
"label": "t:all.Wallet"
},
{
"value": "price-tag",
"label": "t:all.Price_tag"
},
{
"value": "crown",
"label": "t:all.Crown"
},
{
"value": "exchange",
"label": "t:all.Exchange"
},
{
"value": "gift",
"label": "t:all.Gift"
},
{
"value": "clock",
"label": "t:all.Clock"
},
{
"value": "truck",
"label": "t:all.Truck"
},
{
"value": "measuring_tape",
"label": "t:all.Measuring_tape"
},
{
"value": "info",
"label": "t:all.Info"
},
{
"value": "heart",
"label": "t:all.Heart"
},
{
"value": "map-pin",
"label": "t:all.Map_pin"
},
{
"value": "car",
"label": "t:all.Car"
},
{
"value": "takeaway",
"label": "t:all.Takeaway"
},
{
"value": "restaurant",
"label": "t:all.Restaurant"
},
{
"value": "cup",
"label": "t:all.Cup"
},
{
"value": "star",
"label": "t:all.Star"
},
{
"value": "sun",
"label": "t:all.Sun"
},
{
"value": "moon",
"label": "t:all.Moon"
},
{
"value": "cake",
"label": "t:all.Cake"
},
{
"value": "handbag",
"label": "t:all.Handbag"
},
{
"value": "umbrella",
"label": "t:all.Umbrella"
},
{
"value": "recycle",
"label": "t:all.Recycle"
}
]
},
{
"type": "image_picker",
"id": "custom_icon",
"label": "t:all.Custom_icon",
"info": "t:all.Aspect_ratio_of_1_1_recommended"
},
{
"type": "text",
"id": "heading",
"label": "t:all.Heading",
"default": "Description"
},
{
"type": "radio",
"id": "open_close_icon",
"label": "t:all.Open_Close_icon_style",
"options": [
{
"value": "plus_minus",
"label": "t:all.Plus_minus"
},
{
"value": "caret",
"label": "t:all.Caret"
}
],
"default": "plus_minus"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "sku",
"name": "t:sections.template--product.blocks.sku.name",
"limit": 1,
"settings": [
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "separator",
"name": "t:sections.template--product.blocks.separator.name",
"settings": [
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "collapsible-tab",
"name": "t:all.Collapsible_tab",
"settings": [
{
"type": "select",
"id": "icon",
"label": "t:all.Icon",
"default": "heart",
"options": [
{
"value": "none",
"label": "t:all.None"
},
{
"value": "home-smile",
"label": "t:all.Home_with_smile"
},
{
"value": "store",
"label": "t:all.Store"
},
{
"value": "flag",
"label": "t:all.Flag"
},
{
"value": "service",
"label": "t:all.Customer_service"
},
{
"value": "chat",
"label": "t:all.Chat_bubble"
},
{
"value": "chat-smile",
"label": "t:all.Chat_bubble_with_smile"
},
{
"value": "question-answer",
"label": "t:all.Question_and_answer"
},
{
"value": "wallet",
"label": "t:all.Wallet"
},
{
"value": "price-tag",
"label": "t:all.Price_tag"
},
{
"value": "crown",
"label": "t:all.Crown"
},
{
"value": "exchange",
"label": "t:all.Exchange"
},
{
"value": "gift",
"label": "t:all.Gift"
},
{
"value": "clock",
"label": "t:all.Clock"
},
{
"value": "truck",
"label": "t:all.Truck"
},
{
"value": "measuring_tape",
"label": "t:all.Measuring_tape"
},
{
"value": "info",
"label": "t:all.Info"
},
{
"value": "heart",
"label": "t:all.Heart"
},
{
"value": "map-pin",
"label": "t:all.Map_pin"
},
{
"value": "car",
"label": "t:all.Car"
},
{
"value": "takeaway",
"label": "t:all.Takeaway"
},
{
"value": "restaurant",
"label": "t:all.Restaurant"
},
{
"value": "cup",
"label": "t:all.Cup"
},
{
"value": "star",
"label": "t:all.Star"
},
{
"value": "sun",
"label": "t:all.Sun"
},
{
"value": "moon",
"label": "t:all.Moon"
},
{
"value": "cake",
"label": "t:all.Cake"
},
{
"value": "handbag",
"label": "t:all.Handbag"
},
{
"value": "umbrella",
"label": "t:all.Umbrella"
},
{
"value": "recycle",
"label": "t:all.Recycle"
}
]
},
{
"type": "image_picker",
"id": "custom_icon",
"label": "t:all.Custom_icon",
"info": "t:all.Aspect_ratio_of_1_1_recommended"
},
{
"type": "text",
"id": "heading",
"label": "t:all.Heading",
"default": "Collapsible tab"
},
{
"type": "radio",
"id": "open_close_icon",
"label": "t:all.Open_Close_icon_style",
"options": [
{
"value": "plus_minus",
"label": "t:all.Plus_minus"
},
{
"value": "caret",
"label": "t:all.Caret"
}
],
"default": "plus_minus"
},
{
"type": "richtext",
"id": "text",
"label": "t:all.Content",
"default": "<p>Share some information about your product</p>"
},
{
"type": "page",
"id": "page",
"label": "t:all.Page_content"
},
{
"type": "checkbox",
"id": "open_by_default",
"label": "t:sections.template--product.blocks.collapsible-tab.settings.open_by_default.label",
"default": false
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "giftwrap",
"name": "t:sections.template--product.blocks.giftwrap.name",
"limit": 1,
"settings": [
{
"type": "paragraph",
"content": "t:sections.template--product.blocks.giftwrap.settings.paragraph-0.content"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "quantity",
"name": "t:all.Quantity",
"limit": 1,
"settings": [
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "buy_buttons",
"name": "t:sections.template--product.blocks.buy_buttons.name",
"limit": 1,
"settings": [
{
"type": "checkbox",
"id": "show_smart_checkout",
"label": "t:all.Show_dynamic_checkout_button",
"default": true,
"info":
"t:all.Lets_customers_check_out_directly_using_a_familiar_payment_method__Learn_morehttps___help_shopify_com_manual_using_themes_change_the_layout_dynamic_checkout"
},
{
"type": "checkbox",
"id": "enable_gift_card_recipient_form",
"label": "t:sections.template--product.blocks.buy_buttons.settings.enable_gift_card_recipient_form.label",
"default": false,
"info": "t:sections.template--product.blocks.buy_buttons.settings.enable_gift_card_recipient_form.info"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "local_pickup",
"name": "t:sections.template--product.blocks.local_pickup.name",
"limit": 1,
"settings": [
{
"type": "paragraph",
"content": "t:sections.template--product.blocks.local_pickup.settings.paragraph-0.content"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "trust_badges",
"name": "t:sections.template--product.blocks.trust_badges.name",
"limit": 1,
"settings": [
{
"type": "range",
"id": "trust-badge_max_width",
"min": 10,
"max": 920,
"step": 10,
"unit": "t:all.px",
"label": "t:all.Width",
"default": 260
},
{
"type": "image_picker",
"id": "trust-badge",
"label": "t:sections.template--product.blocks.trust_badges.settings.trust-badge.label",
"info": "t:sections.template--product.blocks.trust_badges.settings.trust-badge.info"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "product_meta",
"name": "t:sections.template--product.blocks.product_meta.name",
"limit": 1,
"settings": [
{
"type": "paragraph",
"content": "t:sections.template--product.blocks.product_meta.settings.paragraph-0.content"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"name": "t:sections.template--product.blocks.complementary-products.name",
"type": "complementary-products",
"limit": 1,
"settings": [
{
"type": "paragraph",
"content": "t:sections.template--product.blocks.complementary-products.settings.paragraph-0.content"
},
{
"type": "text",
"id": "title",
"label": "t:all.Heading",
"default": "Pairs well with..."
},
{
"type": "range",
"id": "products_limit",
"min": 1,
"max": 10,
"step": 1,
"label": "t:sections.template--product.blocks.complementary-products.settings.products_limit.label",
"default": 5
},
{
"type": "header",
"content": "t:all.Collapsible_tab"
},
{
"type": "checkbox",
"id": "collapsible_tab",
"label": "t:all.Enable_collapsible_tab",
"default": false
},
{
"type": "select",
"id": "icon",
"label": "t:all.Icon",
"default": "none",
"options": [
{
"value": "none",
"label": "t:all.None"
},
{
"value": "home-smile",
"label": "t:all.Home_with_smile"
},
{
"value": "store",
"label": "t:all.Store"
},
{
"value": "flag",
"label": "t:all.Flag"
},
{
"value": "service",
"label": "t:all.Customer_service"
},
{
"value": "chat",
"label": "t:all.Chat_bubble"
},
{
"value": "chat-smile",
"label": "t:all.Chat_bubble_with_smile"
},
{
"value": "question-answer",
"label": "t:all.Question_and_answer"
},
{
"value": "wallet",
"label": "t:all.Wallet"
},
{
"value": "price-tag",
"label": "t:all.Price_tag"
},
{
"value": "crown",
"label": "t:all.Crown"
},
{
"value": "exchange",
"label": "t:all.Exchange"
},
{
"value": "gift",
"label": "t:all.Gift"
},
{
"value": "clock",
"label": "t:all.Clock"
},
{
"value": "truck",
"label": "t:all.Truck"
},
{
"value": "measuring_tape",
"label": "t:all.Measuring_tape"
},
{
"value": "info",
"label": "t:all.Info"
},
{
"value": "heart",
"label": "t:all.Heart"
},
{
"value": "map-pin",
"label": "t:all.Map_pin"
},
{
"value": "car",
"label": "t:all.Car"
},
{
"value": "takeaway",
"label": "t:all.Takeaway"
},
{
"value": "restaurant",
"label": "t:all.Restaurant"
},
{
"value": "cup",
"label": "t:all.Cup"
},
{
"value": "star",
"label": "t:all.Star"
},
{
"value": "sun",
"label": "t:all.Sun"
},
{
"value": "moon",
"label": "t:all.Moon"
},
{
"value": "cake",
"label": "t:all.Cake"
},
{
"value": "handbag",
"label": "t:all.Handbag"
},
{
"value": "umbrella",
"label": "t:all.Umbrella"
},
{
"value": "recycle",
"label": "t:all.Recycle"
}
]
},
{
"type": "image_picker",
"id": "custom_icon",
"label": "t:all.Custom_icon",
"info": "t:all.Aspect_ratio_of_1_1_recommended"
},
{
"type": "radio",
"id": "open_close_icon",
"label": "t:all.Open_Close_icon_style",
"options": [
{
"value": "plus_minus",
"label": "t:all.Plus_minus"
},
{
"value": "caret",
"label": "t:all.Caret"
}
],
"default": "plus_minus"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"name": "t:sections.template--product.blocks.cross-sells.name",
"type": "cross-sells",
"limit": 1,
"settings": [
{
"type": "text",
"id": "title",
"label": "t:all.Label",
"default": "Don't forget these..."
},
{
"type": "product",
"id": "cross_sell_product_1",
"label": "t:sections.template--product.blocks.cross-sells.settings.cross_sell_product_1.label"
},
{
"type": "product",
"id": "cross_sell_product_2",
"label": "t:sections.template--product.blocks.cross-sells.settings.cross_sell_product_2.label"
},
{
"type": "product",
"id": "cross_sell_product_3",
"label": "t:sections.template--product.blocks.cross-sells.settings.cross_sell_product_3.label"
},
{
"type": "header",
"content": "t:all.Collapsible_tab"
},
{
"type": "checkbox",
"id": "collapsible_tab",
"label": "t:all.Enable_collapsible_tab",
"default": false
},
{
"type": "select",
"id": "icon",
"label": "t:all.Icon",
"default": "none",
"options": [
{
"value": "none",
"label": "t:all.None"
},
{
"value": "home-smile",
"label": "t:all.Home_with_smile"
},
{
"value": "store",
"label": "t:all.Store"
},
{
"value": "flag",
"label": "t:all.Flag"
},
{
"value": "service",
"label": "t:all.Customer_service"
},
{
"value": "chat",
"label": "t:all.Chat_bubble"
},
{
"value": "chat-smile",
"label": "t:all.Chat_bubble_with_smile"
},
{
"value": "question-answer",
"label": "t:all.Question_and_answer"
},
{
"value": "wallet",
"label": "t:all.Wallet"
},
{
"value": "price-tag",
"label": "t:all.Price_tag"
},
{
"value": "crown",
"label": "t:all.Crown"
},
{
"value": "exchange",
"label": "t:all.Exchange"
},
{
"value": "gift",
"label": "t:all.Gift"
},
{
"value": "clock",
"label": "t:all.Clock"
},
{
"value": "truck",
"label": "t:all.Truck"
},
{
"value": "measuring_tape",
"label": "t:all.Measuring_tape"
},
{
"value": "info",
"label": "t:all.Info"
},
{
"value": "heart",
"label": "t:all.Heart"
},
{
"value": "map-pin",
"label": "t:all.Map_pin"
},
{
"value": "car",
"label": "t:all.Car"
},
{
"value": "takeaway",
"label": "t:all.Takeaway"
},
{
"value": "restaurant",
"label": "t:all.Restaurant"
},
{
"value": "cup",
"label": "t:all.Cup"
},
{
"value": "star",
"label": "t:all.Star"
},
{
"value": "sun",
"label": "t:all.Sun"
},
{
"value": "moon",
"label": "t:all.Moon"
},
{
"value": "cake",
"label": "t:all.Cake"
},
{
"value": "handbag",
"label": "t:all.Handbag"
},
{
"value": "umbrella",
"label": "t:all.Umbrella"
},
{
"value": "recycle",
"label": "t:all.Recycle"
}
]
},
{
"type": "image_picker",
"id": "custom_icon",
"label": "t:all.Custom_icon",
"info": "t:all.Aspect_ratio_of_1_1_recommended"
},
{
"type": "radio",
"id": "open_close_icon",
"label": "t:all.Open_Close_icon_style",
"options": [
{
"value": "plus_minus",
"label": "t:all.Plus_minus"
},
{
"value": "caret",
"label": "t:all.Caret"
}
],
"default": "plus_minus"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "social_sharing",
"name": "t:sections.template--product.blocks.social_sharing.name",
"limit": 1,
"settings": [
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "out_of_stock_email_form",
"name": "t:sections.template--product.blocks.out_of_stock_email_form.name",
"limit": 1,
"settings": [
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"name": "t:all.Custom_Liquid",
"type": "custom_liquid",
"settings": [
{
"type": "liquid",
"id": "custom_liquid",
"label": "t:all.Custom_Liquid",
"default": "<p>Add app snippets or other Liquid code to create advanced customizations.</p>"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"name": "t:all.Product_rating",
"type": "product-rating",
"settings": [
{
"type": "text",
"id": "rating-label",
"label": "t:all.Label",
"default": "Rating"
},
{
"type": "text",
"id": "rating",
"label": "t:all.Rating",
"info": "t:all.To_display_a_rating_add_a_product_rating_metafield_admin_metafields_product"
},
{
"type": "image_picker",
"id": "rating-icon-full",
"label": "t:all.Full_icon"
},
{
"type": "image_picker",
"id": "rating-icon-empty",
"label": "t:all.Empty_icon",
"info": "t:all.Optional"
},
{
"type": "number",
"id": "rating-max",
"label": "t:all.Maximum",
"default": 5,
"info": "t:all.Select_a_maximum_equal_to_the_rating_metafields_scale_maximum_admin_metafields_product"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"name": "t:all.Image_with_offers",
"type": "image-offer",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "t:all.Image"
},
{
"type": "url",
"id": "link",
"label": "t:all.Link",
"info": "t:all.Optional"
},
{
"type": "color",
"id": "hover_border_color",
"label": "t:all.Link_hover_border_color"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"name": "t:all.Text_with_icon",
"type": "text-with-icon",
"settings": [
{
"type": "select",
"id": "icon",
"label": "t:all.Icon",
"default": "truck",
"options": [
{
"value": "none",
"label": "t:all.None"
},
{
"value": "home-smile",
"label": "t:all.Home_with_smile"
},
{
"value": "store",
"label": "t:all.Store"
},
{
"value": "flag",
"label": "t:all.Flag"
},
{
"value": "service",
"label": "t:all.Customer_service"
},
{
"value": "chat",
"label": "t:all.Chat_bubble"
},
{
"value": "chat-smile",
"label": "t:all.Chat_bubble_with_smile"
},
{
"value": "question-answer",
"label": "t:all.Question_and_answer"
},
{
"value": "wallet",
"label": "t:all.Wallet"
},
{
"value": "price-tag",
"label": "t:all.Price_tag"
},
{
"value": "crown",
"label": "t:all.Crown"
},
{
"value": "exchange",
"label": "t:all.Exchange"
},
{
"value": "gift",
"label": "t:all.Gift"
},
{
"value": "clock",
"label": "t:all.Clock"
},
{
"value": "truck",
"label": "t:all.Truck"
},
{
"value": "measuring_tape",
"label": "t:all.Measuring_tape"
},
{
"value": "info",
"label": "t:all.Info"
},
{
"value": "heart",
"label": "t:all.Heart"
},
{
"value": "map-pin",
"label": "t:all.Map_pin"
},
{
"value": "car",
"label": "t:all.Car"
},
{
"value": "takeaway",
"label": "t:all.Takeaway"
},
{
"value": "restaurant",
"label": "t:all.Restaurant"
},
{
"value": "cup",
"label": "t:all.Cup"
},
{
"value": "star",
"label": "t:all.Star"
},
{
"value": "sun",
"label": "t:all.Sun"
},
{
"value": "moon",
"label": "t:all.Moon"
},
{
"value": "cake",
"label": "t:all.Cake"
},
{
"value": "handbag",
"label": "t:all.Handbag"
},
{
"value": "umbrella",
"label": "t:all.Umbrella"
},
{
"value": "recycle",
"label": "t:all.Recycle"
}
]
},
{
"type": "image_picker",
"id": "custom_icon",
"label": "t:all.Custom_icon",
"info": "t:all.Aspect_ratio_of_1_1_recommended"
},
{
"type": "text",
"id": "text",
"label": "t:all.Text",
"default": "Free shipping"
},
{
"type": "url",
"id": "link",
"label": "t:all.Link",
"info": "t:all.Optional"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "stock-level-indicator",
"name": "t:all.Stock_level_indicator",
"limit": 1,
"settings": [
{
"type": "paragraph",
"content": "t:all.Product_inventory_must_be_tracked_to_use_this_functionality_"
},
{
"type": "radio",
"id": "stock-level-indicator-style",
"label": "t:all.Style",
"info": "t:all.Out_of_stock_products_show_Classic_count",
"default": "bar",
"options": [
{
"value": "classic",
"label": "t:all.Classic_count"
},
{
"value": "bar",
"label": "t:all.Bar_count"
}
]
},
{
"type": "radio",
"id": "bar-indicator-color",
"label": "t:all.Bar_indicator_color",
"default": "standard",
"options": [
{
"value": "text",
"label": "t:all.Text_color"
},
{
"value": "standard",
"label": "t:all.Standard"
}
]
},
{
"type": "checkbox",
"id": "stock_indicator_animation",
"label": "t:all.Enable_animation",
"default": true
},
{
"type": "range",
"id": "stock-range",
"min": 1,
"max": 50,
"step": 1,
"label": "t:all.Show_low_stock_warning_at",
"default": 20
},
{
"type": "checkbox",
"id": "show-stock-count",
"label": "t:all.Show_stock_level_count",
"default": true
},
{
"type": "radio",
"id": "stock-level-notice",
"label": "t:all.Show_stock_level_notice",
"default": "always",
"options": [
{
"value": "always",
"label": "t:all.Always"
},
{
"value": "below-stock-range",
"label": "t:all.When_stock_level_is_lower_than_low_stock_threshold"
}
]
},
{
"type": "text",
"id": "in-stock-message",
"label": "t:all.In_stock_message",
"default": "Ready to ship"
},
{
"type": "text",
"id": "low-stock-message",
"label": "t:all.Low_stock_message",
"default": "Selling fast"
},
{
"type": "text",
"id": "out-of-stock-message",
"label": "t:all.Out_of_stock_message",
"default": "Back in soon"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
},
{
"type": "star_rating",
"name": "t:sections.template--product.blocks.star_rating.name",
"limit": 1,
"settings": [
{
"type": "paragraph",
"content": "t:settings_schema.Product_card.settings.show_rating.info"
},
{
"type": "radio",
"id": "show_rating_as",
"label": "t:settings_schema.Product_card.settings.show_product_rating_as.label",
"options": [
{
"value": "count",
"label": "t:settings_schema.Product_card.settings.show_product_rating_as.options.count"
},
{
"value": "average_rating",
"label": "t:settings_schema.Product_card.settings.show_product_rating_as.options.average"
},
{
"value": "stars_only",
"label": "t:settings_schema.Product_card.settings.show_product_rating_as.options.stars_only"
}
],
"default": "average_rating"
},
{
"type": "range",
"id": "star_size",
"label": "t:sections.template--product.blocks.star_rating.settings.star_size.label",
"min": 10,
"max": 25,
"unit": "t:all.px",
"default": 16
},
{
"type": "checkbox",
"id": "show_product_rating_if_no_reviews",
"label": "t:settings_schema.Product_card.settings.show_rating.show_if_no_reviews",
"default": false
},
{
"type": "text",
"id": "no_reviews_label",
"label": "t:sections.template--product.blocks.star_rating.settings.no_reviews_label.label",
"default": "No reviews"
},
{
"type": "header",
"content": "t:all.Block_spacing"
},
{
"type": "range",
"id": "margin_bottom",
"label": "t:all.Bottom_margin",
"min": 0,
"max": 40,
"step": 1,
"unit": "t:all.px",
"default": 20
}
]
}
]
}
{% endschema %}