<div class="wrapper-spacing--v--template wrapper-spacing--h main-content page-main--wrapper"
  data-wetheme-section-type="template--search" data-wetheme-section-id="{{ section.id }}">
  <div class="width--content">
    <div class="search-results">
      {% if search.results.size > 0 %}
      <p style="text-align: center;">{{ search.results.size }} results for "{{ search.terms }}"</p>
      <div class="search-results-grid">
        {% for item in search.results %}
        {% if item.object_type == 'product' %}
        <div class="product">
          <a href="{{ item.url }}">
            {% if item.featured_image %}
            <img src="{{ item.featured_image | img_url: 'medium' }}" alt="{{ item.title }}">
            {% else %}
            <img src="{{ 'no-image.jpg' | asset_url }}" alt="No image available">
            {% endif %}
            <p class="sp-title">{{ item.title }}</p>
          </a>
          <p>{{ item.price | money }}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% else %}
      <div>
        <p style="text-align: center;font-size:14px">{{ search.results.size }} RESULTS FOR "{{ search.terms | upcase }}"
        </p>
        <p class="no-result-text">YOUR SEARCH FOR "{{ search.terms | upcase }}" DID NOT MATCH ANY RESULTS.</p>
      </div>
      {% endif %}
    </div>

  </div>

</div>
<style>
  .search-results-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .product img {
    width: 100%;
    height: 80vh;
  }

  .no-result-text {
    font-size: 14px;
    text-align: center;
  }

  .sp-title {
    font-weight: 600;
  }

  @media (max-width: 767px) {
    .search-results-grid {
      grid-template-columns: 1fr 1fr;
    }

    .product img {
      width: 100%;
      height: 36vh;
    }
  }
</style>
<script src="{{ 'filtering.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
"name": "t:sections.template--search.name",
"tag": "section",
"class": "collection-filtering-section spaced-section",
"settings": [
{
"type": "header",
"content": "t:sections.template--search.settings.header-0.content"
},
{
"type": "select",
"id": "desktop_position",
"options": [
{
"value": "topbar",
"label": "t:all.Top_bar"
},
{
"value": "sidebar",
"label": "t:all.Sidebar"
}
],
"default": "topbar",
"label": "t:all.Desktop_position"
},
{
"type": "checkbox",
"id": "enable_filtering",
"default": true,
"label": "t:all.Enable_filtering",
"info": "t:all.Customize_filters_admin_menus"
},
{
"type": "checkbox",
"id": "show_swatch_filter_labels",
"default": true,
"label": "t:sections.template--search.settings.show_swatch_filter_labels.label"
},
{
"type": "checkbox",
"id": "enable_sorting",
"default": true,
"label": "t:all.Enable_sorting"
}
]
}
{% endschema %}